<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column display-chat" id="chat-display">

            </div>

            <form class="sixteen wide column" id="message-form">
                    <input type="text" name="message" placeholder="Type your message">
                    <button type="submit" class="ui primary button">
                        Send
                    </button>
            </form>
            

            
        </div>
    </div>
    <script src="/js/chat.js"></script>
</body>
</html>