<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    {{>header}}
    <div class="chat">
        <div class="chat__display" id="chat-display">

        </div>

        <form class="chat__message_form" id="message-form">
                <input type="text" name="message" placeholder="Type your message" class="chat__message_form-input">
                <button type="submit" class="chat__message_form-input-button">Send</button>
        </form>

    </div>

    <script src="/js/chat.bundle.js"></script>
</body>

</html>