<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    {{>header}}
    <div class="ui container fluid chat-container">
        <div class="display-chat" id="chat-display">

        </div>

        <form class="sixteen wide column" id="message-form">
            <div class="ui big action input send-message">
                <input type="text" name="message" placeholder="Type your message">
                <button type="submit" class="ui green button">Send</button>
            </div>
        </form>




    </div>
    <script src="/js/chat.bundle.js"></script>
</body>

</html>