<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
        />
        <link rel="stylesheet" href="./css/chat.css" />
    </head>
    <body>
        {{>header}}
        <div class="ui container">
            <h2 class="ui header">Penguin Bot 3000. Your personal Tech Support</h2>

            <div class="ui positive message">
                <div class="header">
                    Greeting
                </div>
                <p>The bot will politely respond to your greeting</p>
            </div>
            <div class="ui yellow message">
                <div class="header">
                    About me
                </div>
                <p>The bot will be happy to tell you about himself and list all the things he can do</p>
            </div>
            <div class="ui blue message">
                <div class="header">
                    Jokes
                </div>
                <p>He loves to tell jokes</p>
            </div>
            <div class="ui violet message">
                <div class="header">
                    Tech support
                </div>
                <p>If you have any problem with your computer, he can help you fix it</p>
            </div>
            <div class="ui green message">
                <div class="header">
                    Conversation ending
                </div>
                <p>The bot will wish you a nice day, when you decide to end the conversation</p>
            </div>
        </div>

    </body>
</html>
