<div class="ui center aligned container">
    <form action="/api/message" method="POST" class="class=" ui form">
        <label class="ui label">Message</label>
        <input type="text" name="message">
        <button type="submit" class="ui positive basic button">Send</button>
    </form>
</div>