<div class="ui two item menu menu-custom">
    <a href="/" class="item menu-custom-item">
    <h3 class="ui header">Home</h3>
    </a>
    <a href="/chat" class="item menu-custom-item">
    <div class="ui header">Chat</div>
    </a>
</div>