.display-chat {
    margin-top: 55px;
    width: 90vh;
    background-color: rgba(229, 243, 204, 0.486);
    border-radius: 15px;
}

.time-display {
    display: flex !important;
    align-items: center;

}

.time{
    font-style: italic;
}


.break{
    margin: 25px 5px;
}